<html>
    <head>
	    <title>Python Classes/Objects</title>
	</head>
	
	<body>
	     <div>
		    <p>Python is an object oriented programming language.
               Almost everything in Python is an object, with its properties and methods.
               A Class is like an object constructor, or a "blueprint" for creating objects.
			</p>
		</div>
		   
		    <div>
		
		    <h1><a href="/">Create a Class</a></h1>
			<p>time: 28.09.2020, 23:14</p>
			<h2>To create a class, use the keyword class:</h2>
			<p>Example:
			    Create a class named MyClass, with a property named x:
			   
			    class MyClass:
                x = 5
			</p>
			</div>
			
			<div>
			<h1><a href="/">Create Object</a></h1>
			<p>time: 28.09.2020, 23:22</p>
			<h2>Now we can use the class named MyClass to create objects:</h2>
			<p>Example:
                Create an object named p1, and print the value of x: 
                p1 = MyClass()
                print(p1.x)
			</p>
			</div>
	</body>
</html>
                 				